﻿<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title ng-bind="'todo - ' + title">todo</title>
        @Styles.Render("~/Assets/Bootstrap/css/bootstrap.css")
        @Styles.Render("~/styles")

    </head>
    <body>
        @RenderBody()

        @Scripts.Render("~/ng")
        @Scripts.Render("~/app")
        @Scripts.Render("~/jquery")
        @Scripts.Render("~/bootstrap")
        @Scripts.Render("~/misc")
    </body>
</html>