﻿
<div class="container-fluid" ng-cloak>

    <header class="row site-header">
        <nav class="col-md-10 col-md-offset-1">
            <div class="row">
                <h1>AngularJs/NancyFx|Web APi super simple todo app</h1>
            </div>
            <div class="row">
                <ul class="list-inline">
                    <li>
                        <a href="#/home">Home</a>
                    </li>
                    <li>
                        <a href="#/todo/nancy">Todo Manager Nancy</a>
                    </li>
                    <li>
                        <a href="#/todo/webapi">Todo Manager Web APi</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="row site-body">
        <div class="col-md-10 col-md-offset-1" ng-view>
        </div>
    </div>
</div>
