﻿
<h2>The SPA</h2>

<p>
    Welcome to the SPA part of the TODO-solution.
</p>
<p>Its a shameless copy-pasete job from a template project I found. called ng.net</p>
<p>It consists of the basic markup and scripts to demonstrate how a todo-app can be done, utilizing either a NancyFx or Web-API backend</p>
<p>
    It is a mvc-app just for serving the views, and bundling the scripts and css, bringing our total number of server frameworks to 3.
    There are 2 versions, one for Nancy, and one for Web-APi, and they are identical, except the root url.
</p>
   